<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projet_e3.esiee.com.projet_e3">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.LAUNCHER" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="smooth-i" />
        </intent-filter>
        </activity>

        <activity
            android:name=".LogActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".LoginActivitySpotify"
            android:label="Connection Spotify"
            android:parentActivityName=".LogActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LogActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="com.spotify.sdk.android.authentication.LoginActivity" />
                <data android:scheme="smooth-i" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".HostGroupActivity" />
        <activity android:name=".ChooseGroupActivity" />
        <activity android:name=".SearchForGroupActivity" />
        <activity android:name=".ResultsActivity" />
    </application>

</manifest>